@import "../../scss/mixins";

.message {
  margin-top: 155px;
  font: 500 19px 'Montserrat';
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}

.resetButton {
  @include button;
  background-color: var(--additional-color);
}
