.form {
  position: relative;
  width: var(--main-container);
}

.input {
  width: 100%;
  border: 1px solid var(--light-color);
  border-radius: 11px;
  padding: 15px 15px 15px 35px;
  margin-bottom: 15px;
}

::placeholder {
  font: 400 14px 'Roboto';
  color: var(--light-color);
}

.search {
  padding: 16px 11px;
  position: absolute;
  left: 0;
}

.counter {
  font: 400 14px 'Roboto';
  color: var(--light-color);
  position: absolute;
  right: 0;
  padding: 16px 16px;
}

//remove the cross in the input

input[type=text]::-ms-clear {  display: none; width : 0; height: 0; }
input[type=text]::-ms-reveal {  display: none; width : 0; height: 0; }
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration { display: none; }
